.header {
  max-inline-size: 1920px;
  inline-size: 100%;
  margin-block-end: 40px;

  &-container {
    block-size: 100px;
    inline-size: 100%;
    padding-block: 30px;
    padding-inline: 100px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    $logoInlineSize: 36px;
    inline-size: $logoInlineSize;
    min-inline-size: $logoInlineSize;
    block-size: $logoInlineSize;
    border-radius: 50%;
    background-color: #614CE7;
  }

  .links {
    $iconInlineSize: 20px;
    font-size: $iconInlineSize;
    font-weight: 600;
    display: flex;
    align-items: center;
    a {
      margin-inline-start: 30px;
      color: #555555;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    img {
      inline-size: $iconInlineSize;
    }
  }

  @media screen and (max-width: 1250px) {
    &-container {
      padding-inline: 50px;
    }
  }

  @media screen and (max-width: 830px) {
    &-container {
      padding-inline: 25px;
    }
    .links {
      $iconInlineSize: 22px;
      font-size: $iconInlineSize;
      img { inline-size: $iconInlineSize; }
    }
  }

  @media screen and (max-width: 520px) {
  margin-block-end: 20px;
    &-container {
      padding-inline: 10px;
    }
    .links {
      $iconInlineSize: 24px;
      font-size: $iconInlineSize;
      a { margin-inline-start: 35px; }
      img { inline-size: $iconInlineSize; }
    }
  }
}
