.header {
  max-width: 1920px;
  width: 100%;

  &-container {
    height: 100px;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    $logoWidth: 36px;
    width: $logoWidth;
    min-width: $logoWidth;
    height: $logoWidth;
    border-radius: 50%;
    background-color: #614CE7;
  }

  .links {
    $iconWidth: 20px;
    font-size: $iconWidth;
    font-weight: 600;
    display: flex;
    align-items: center;
    a {
      margin-left: 30px;
      color: #555555;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
    img {
      width: $iconWidth;
    }
  }

  @media screen and (max-width: 1250px) {
    &-container {
      padding: 30px 50px;
    }
  }

  @media screen and (max-width: 830px) {
    &-container {
      padding: 30px 25px;
    }
    .links {
      $iconWidth: 22px;
      font-size: $iconWidth;
      img { width: $iconWidth; }
    }
  }

  @media screen and (max-width: 520px) {
    &-container {
      padding: 30px 10px;
    }
    .links {
      $iconWidth: 24px;
      font-size: $iconWidth;
      a { margin-left: 35px; }
      img { width: $iconWidth; }
    }
  }
}
