.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-inline-size: 500px;
  max-block-size: 80%;
  // overflow-y: scroll;
  inline-size: 60%;
  z-index: 11;
  
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: opacity .2s;

      &.in {
        opacity: 1;
        pointer-events: all;
      }

      &.out {
        opacity: 0;
        pointer-events: none;
  }
  }
  
  &-close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 25px;
    color: #333;
    cursor: pointer;
  }

  h2 {
    margin-block-start: 0;
    margin-block-end: 20px;
    font-weight: bold;
    font-size: 20px;
  }

  @media screen and (max-width: 830px) {
    inline-size: 80%;
  }
}
