@import "./mixins.scss";

.social-app {
  @include socialApp(100%, 120px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding-inline: 90px;
  margin-block-end: 5px;
  img {
    width: 60px;
    margin-inline-end: 20px;
  }
  h3 { text-transform: capitalize; }
  &:disabled { cursor: default; }
  .disabled-info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-top-right-radius: 0;
    width: 40px;
    height: 25px;
    font-size: 14px;
    right: 0;
    top: 0;
    color: white;
    background-color: rgba(255, 83, 83, 0.877);
  }
}
